<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}LifeFlow{% endblock %}</title>
   
</head>
<body>
    <nav>
    <a href="{% url 'home' %}"> Home</a>
    {% if user.is_authenticated %}
        {% if user.userprofile.role == 'HOSPITAL' %}
            <a href="{% url 'hospital_dashboard' %}">Hospital Dashboard</a>
            <a href="{% url 'add_inventory' %}">Add Inventory</a>
            <a href="{% url 'donor_list' %}">View Donor List</a>
        {% else %}
            <a href="{% url 'user_dashboard' %}">User Dashboard</a>
            <a href="{% url 'become_donor' %}"></a>
            <a href="{% url 'check_availability' %}">Check Blood Availability</a>
            <a href="{% url 'donor_list' %}">View Donor List</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}"> Login</a>
    {% endif %}
</nav>
    <hr>
    {% block content %}
    
    {% endblock %}
    
</body>
</html>