{% extends 'base.html' %}

{% block title %}
Donor Profile
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card profile-card shadow-sm">
            <div class="card-body p-4">
                <h2 class="profile-title text-center mb-4">
                    Donor Profile
                </h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <strong>Name:</strong><br>
                        {{ donor.user.first_name }} {{ donor.user.last_name }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Username:</strong><br>
                        {{ donor.user.username }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Blood Group:</strong><br>
                        {{ donor.blood_group }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Age:</strong><br>
                        {{ donor.age }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Location:</strong><br>
                        {{ donor.location }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Last Donation Date:</strong><br>
                        {{ donor.last_donation_date }}
                    </div>
                    <div class="col-12 mb-3">
                        <strong>Medical Issues:</strong><br>
                        {{ donor.medical_issues|default:"None" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Available for Donation:</strong><br>
                        {{ donor.available_for_donation }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Consent to Contact:</strong><br>
                        {{ donor.consent_to_contact }}
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a
                        href="{% url 'edit_donor_profile' %}"
                        class="btn btn-warning"
                    >
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}