{% extends 'base.html' %}

{% block content %}
<h1>{{ hospital.hospital_name }}</h1>
<a href="{% url 'add_inventory' %}">Add Inventory</a>
<hr>
<table border="1px"> 
    <tr>
        <th>
            Blood Group
        </th>
        <th>
            Units Available
        </th>
        <th>
            Action
        </th>
    </tr>
    {% for inventory in inventories %}
    <tr>
        <td>
            {{ inventory.blood_group}}
        </td>
        <td>
            {{ inventory.units_available }}
        </td>
        <td>
            <a href="{% url 'update_inventory' inventory.id %}">Edit</a>
            <a href="{% url 'delete_inventory' inventory.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}