{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors}}
    <p>
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.first_name.errors}}
    </p>

    <p>
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        {{ form.last_name.errors}}
    </p>

    <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </p>

    <p>
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </p>

    <p>
        {{ form.phone.label_tag }}
        {{ form.phone }}
        {{ form.phone.errors }}
    </p>

    <p>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
    </p>

    <p>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors}}
    </p>

  
    <button type="submit">Register</button>
</form>

{% endblock%}