{% extends 'base.html' %}

{% block content %}
<h1>User Dashboard</h1>
<p>Welcome, {{ user.first_name }}</p>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<hr>
<a href="{% url 'donor_list' %}">
    View Donor List
</a>
<br><br>
<a href="{% url 'check_availability' %}">
    Check Blood Availability
</a>
<br><br>
{% if is_donor %}
    <a href="{% url 'donor_profile' %}">
        View Donor Profile
    </a>
{% else %}
    <a href="{% url 'become_donor' %}">
        Become a Donor
    </a>
{% endif %}
{% endblock %}